<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to offers_path, class: "navbar-brand" do %>
      <%= image_tag "https://l4.tm-web-01.co.uk/lib/F521358.webp" %>
      <% if user_signed_in? && current_user.first_name  %>
      <span class="navbar-text">Bienvenue <%= current_user.first_name.capitalize %></span>
      <% end %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <%# <% if user_signed_in? %>
            <li class="nav-item active">
              <strong><%= link_to "Vous êtes un sosie?", new_offer_path, class: "nav-link" %></strong>
            </li>
            <li class="nav-item active">
              <%= link_to "Les sosies", offers_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrnv4-74fOG5XFFrhzG-ehFHZFdGzC4pj5CQ&usqp=CAU", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Mon profil", :edit_user_registration, class: "dropdown-item" %>
                <%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          <%# else %>
            <!--li class="nav-item"-->
              <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
            <!--/li-->
          <%# end %>
         </ul>
    </div>
  </div>
</div>
