<h1>Offers#edit</h1>
<div class="container">
  <%= simple_form_for @offer do |f| %>
  <%= f.input :celebrity_name %>
  <%= f.input :price %>
  <%= f.select :category, Offer::CATEGORIES %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
