<%= render 'shared/banner' %>

  <%= form_with url: offers_path, method: :get, class: "d-flex offset-md-4 col-4" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Cherche ta célébrité preferée !"
    %>
    <%= submit_tag "Search", class: "btn btn-secondary" %>
  <% end %>

<div class = "container offset-md-1 ">

  <div class="row">

    <div class="col" style="display: flex; align-items: center; justify-content: center">
      <%= link_to offers_path(category: "Cinema") do %>
      <i class="fa-solid fa-film fa-2x" style= "color: #5C636A"></i>
      <% end %>
    </div>

    <div class="col" style="display: flex; align-items: center; justify-content: center">
      <%= link_to offers_path(category: "Sport") do %>
      <i class="fa-solid fa-baseball-bat-ball fa-2x" style= "color: #5C636A"></i>
      <% end %>
    </div>

    <div class="col" style="display: flex; align-items: center; justify-content: center">
      <%= link_to offers_path(category: "Musique") do %>
      <i class="fa-solid fa-music fa-2x" style= "color: #5C636A"></i>
      <% end %>
    </div>

    <div class="col" style="display: flex; align-items: center; justify-content: center">
        <%= link_to offers_path(category: "Politique") do %>
      <i class="fa-solid fa-landmark fa-2x" style= "color: #5C636A"></i>
      <% end %>
    </div>

   <div class="col" style="display: flex; align-items: center; justify-content: center">
        <%= link_to offers_path(category: "") do %>
    <i class="fa-solid fa-reply-all fa-2x" style= "color: #5C636A"></i>
    <% end %>
    </div>
  </div>


  <div class="row row-cols-1 row-cols-md-3 g-4" >
    <% @offers.each do |offer| %>
      <div class="col">
        <div class="card" style="width: 23rem;">
          <div class="card-info">
            <div class="d-flex justify-content-center mb-3">
              <%= cl_image_tag offer.photo.key, width: 200, height: 200, gravity: :face, crop: :thumb, class:"rounded" %>
            </div>
            <% ratings = [] %>
            <% offer.reviews.each {|review| ratings << review.rating} %>
            <% if ratings.empty? %>
            <p><i class="fa-solid fa-star" style="color: #FEDE01"></i> - </p>
            <% else %>
            <p><i class="fa-solid fa-star" style="color: #FEDE01"></i><%= ratings.sum.fdiv(ratings.size).round(1) %></p>
            <% end %>
            <p class="celebrity mb-1"> <%= offer.celebrity_name %> </p>
            <% if offer.category == "Cinema"  %>
              <p class="text-secondary"><i class="fa-solid fa-film"></i> <%= offer.category%> </p>
            <% elsif offer.category == "Sport"  %>
              <p class="text-secondary"><i class="fa-solid fa-baseball-bat-ball"></i> <%= offer.category%> </p>
            <% elsif offer.category == "Musique"  %>
              <p class="text-secondary"><i class="fa-solid fa-music"></i> <%= offer.category%> </p>
            <% elsif offer.category == "Politique"  %>
              <p class="text-secondary"><i class="fa-solid fa-landmark"></i> <%= offer.category%> </p>
            <% end %>
            <p><%= offer.short_desc %></p>
            <p class="price"> <%= offer.price %> €</p>
            <%= link_to "Voir", offer_path(offer), class: "link card-footer" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
