<%= render 'shared/banner' %>
<div class = "container">
  <h1 class = "text-center mt-3" > Les sosies disponibles</h1>
  <div id = "grid">
    <% @offers.each do |offer| %>
      <div class = "card rounded-5 m-3 " style = "width: 18rem;">
        <%= cl_image_tag offer.photo.key, crop: :fit %>
        <div class = "card-info">
        <p> <%= offer.celebrity_name%> </p>
        <p> <%= offer.price%> €</p>
        <p> <%= offer.category%> </p>
        <p> <%= offer.content%> </p>
        <%= link_to "Voir", offer_path(offer), class: "white"  %>
      </div>
    </div>
   <% end %>
  </div>
</div>
