<%= render 'shared/banner' %>

  <%= form_with url: offers_path, method: :get, class: "d-flex offset-md-4 col-4" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Cherche ta célébrité preferée !"
    %>
    <%= submit_tag "Search", class: "btn btn-secondary" %>
  <% end %>

<div class = "container offset-md-1 ">

  <div class="row">

    <div class="col" style="display: flex; align-items: center; justify-content: center">
      <%= link_to offers_path(category: "Cinema") do %>
      <i class="fa-solid fa-film fa-2x" style= "color: #5C636A"></i>
      <% end %>
    </div>

    <div class="col" style="display: flex; align-items: center; justify-content: center">
      <%= link_to offers_path(category: "Sport") do %>
      <i class="fa-solid fa-baseball-bat-ball fa-2x" style= "color: #5C636A"></i>
      <% end %>
    </div>

    <div class="col" style="display: flex; align-items: center; justify-content: center">
      <%= link_to offers_path(category: "Musique") do %>
      <i class="fa-solid fa-music fa-2x" style= "color: #5C636A"></i>
      <% end %>
    </div>

    <div class="col" style="display: flex; align-items: center; justify-content: center">
        <%= link_to offers_path(category: "Politique") do %>
      <i class="fa-solid fa-landmark fa-2x" style= "color: #5C636A"></i>
      <% end %>
    </div>

   <div class="col" style="display: flex; align-items: center; justify-content: center">
        <%= link_to offers_path(category: "") do %>
    <i class="fa-solid fa-reply-all fa-2x" style= "color: #5C636A"></i>
    <% end %>
    </div>
  </div>


  <div class="row row-cols-1 row-cols-md-3 g-4" >
    <% @offers.each do |offer| %>
      <div class="col <%= offer.category%>">
        <div class="card h-100" style="width: 18rem;">
          <%= cl_image_tag offer.photo.key,width: 400,height: 400, crop: :fit %>
          <div class="card-body">
            <p class="celebrity"> <%= offer.celebrity_name%> </p>
            <p> <%= offer.short_desc%> </p>
            <p> <%= offer.category%> </p>
            <p> <%= offer.price%> €</p>
          </div>
           <%= link_to "Voir", offer_path(offer), class: "white"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
