<%= render 'shared/banner' %>
<div class = "container">
  <h1 class = "text-center mt-3" > Les sosies disponibles</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <% @offers.each do |offer| %>
      <div class="col">
        <div class="card h-100" style="width: 18rem;">
          <%= cl_image_tag offer.photo.key,width: 400,height: 400, crop: :fit %>
          <div class="card-body">
            <p class="celebrity"> <%= offer.celebrity_name%> </p>
            <p> <%= offer.price%> €</p>
            <p> <%= offer.category%> </p>
           <p> <%= offer.content%> </p>
          </div>
           <%= link_to "Voir", offer_path(offer), class: "white"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>


