<div class="container">
  <h1>Devenir un sosie</h1>
  <p>Merci de compléter les informations demandées</p>
  <%= simple_form_for @offer do |f| %>
  <%= f.input :celebrity_name %>
  <%= f.input :short_desc %>
  <%= f.input :price %>
  <%= f.select :category, Offer::CATEGORIES %>
  <%= f.input :content %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
