<div class = "container">

  <div class = "d-flex align-items-end justify-content-between">
    <%= cl_image_tag @offer.photo.key, height: 400, width: 400, crop: :fill, class: "mt-5" %>
    <div>
      <div><p>stars</p></div>
      <div class = "card-reservation mt-4">
        <div class = "d-flex justify-content-around">
          <div>
            <p> <%= @offer.price%> </p>
          </div>

          <div>
            <p class = "available-tag">Disponible</p>
          </div>
        </div>
        <div class="element-card">
            <p>75011 Paris</p>
            <%= link_to 'Réserver', new_offer_booking_path(@offer), class: 'btn btn-primary' %>
        </div>
      </div>


    </div>


  </div>


  <h1> <%= @offer.celebrity_name %> </h1>

  <hr>
      <div>
        <p> <%= @offer.category%> </p>
        <p> <%= @offer.content%> </p>
      </div>





</div>
