<div class = "container">
  <div class = "class-top d-flex justify-content-between">
    <%= cl_image_tag @offer.photo.key, height: 400, width: 400, crop: :fit, class: " img-show" %>
    <div class="map"style="width: 860px; height: 400px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class = "flexbox-description d-flex justify-content-between">
      <div class = "description-offer">
          <h1 class = "mt-5"> <%= @offer.celebrity_name %> </h1>
          <p> <%= @offer.short_desc %></p>
          <% if @offer.category == "Cinema"  %>
              <p class="text-secondary"><i class="fa-solid fa-film"></i> <%= @offer.category%> </p>
            <% elsif @offer.category == "Sport"  %>
              <p class="text-secondary"><i class="fa-solid fa-baseball-bat-ball"></i> <%= @offer.category%> </p>
            <% elsif @offer.category == "Musique"  %>
              <p class="text-secondary"><i class="fa-solid fa-music"></i> <%= @offer.category%> </p>
            <% elsif @offer.category == "Politique"  %>
              <p class="text-secondary"><i class="fa-solid fa-landmark"></i> <%= @offer.category%> </p>
            <% end %>
          <p> <%= @offer.content%></p>
      </div>
    <div class = "card-reservation my-5">
      <div class = "">
        <div class = "p-card">
          <p class = "available-tag">Disponible</p>
        </div>
        <div>
            <p class="element-card"> <i class="fa-solid fa-tree-city"></i>        <%= @offer.user.address %></p>
        </div>
        <div class = "price-card">
          <p> <%= @offer.price %> €</p>
        </div>
        </div>
        <div class="container mb-5">
          <%= simple_form_for [@offer, @booking], namespace: 'booking form', data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :event_date, as: :string, input_html: { data: { flatpickr_target: "eventDate" } }%>
          <%= f.input :comment, placeholder: "Renseigner ici le lieu, des détails sur la prestation, ainsi que d'autres informations utiles..." %>
          <%= f.submit "Réserver", class: "btn reserv-btn" %>
          <% end %>
        </div>
      </div>
    </div>

</div>

<div class = "container">

        <div class="flexbox-description d-flex justify-content-center">
      <div class="card" style="width: 30rem;">
        <h2>Commentaires:</h2>
        <ul class="list-group list-group-flush">
        <% @reviews.sort.reverse!.each do |review| %>
        <div>
          <li class="list-group-item"><% review.rating.times do %>
          <i class="fa-solid fa-star" style="color: #FEDE01"></i>
          <% end %> <p class="small">less than <%= ((Time.now - review.created_at)/60).to_i %> minutes ago</p>
          <p><i class="fa-solid fa-quote-right"></i> <%= review.comment %></p>
          </li>
        </div>
        <% end %>
        </ul>
        </div>
          <div class="card align-self-start ms-5" style="width: 20rem;">
            <%= simple_form_for [@offer, @review], namespace: 'review form' do |f| %>
              <%= f.input :comment, label: 'Ajoute un commentaire' %>
              <%= f.input :rating, collection: (1..5).to_a, label: "Donne une note", input_html: {data: {controller: "star-rating"}} %>
              <%= f.submit :submit, class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
