<h1>Offers#show</h1>
<p>Find me in app/views/offers/show.html.erb</p>

 <li> <%= @offer.celebrity_name %> </li>
  <li> <%= @offer.price%> </li>
  <li> <%= @offer.category%> </li>
  <li> <%= @offer.content%> </li>

<%= link_to 'Make your reservation', new_offer_booking_path(@offer), class: 'btn btn-primary' %>
