<div class = "container">

  <div class = "d-flex align-items-start justify-content-around">
    <%= cl_image_tag @offer.photo.key, height: 400, width: 400, crop: :fill, class: " img-show my-5" %>
    <div class = "description-offer">
      <h1 class = "mt-5"> <%= @offer.celebrity_name %> </h1>
      <p> <%= @offer.short_desc %>, <%= @offer.category%> </p>
      <p> <%= @offer.content%></p>
    </div>
    <div>
      <div class = "card-reservation my-5">
        <div class = "d-flex justify-content-between">
          <div>
            <p class = "available-tag">Disponible</p>
          </div>
          <div >
              <p class="element-card">75011 Paris</p>
          </div>
          <div class = "price-card">
            <p> <%= @offer.price %> €</p>
          </div>
        </div>
        <div class="container mb-5">
          <%= simple_form_for [@offer, @booking], namespace: 'booking form', data: { controller: 'flatpickr' } do |f| %>
            <%= f.input :event_date, as: :string, input_html: { data: { flatpickr_target: "eventDate" } }%>
            <%= f.input :comment, placeholder: "Renseigner ici le lieu, des détails sur la prestation, ainsi que d'autres informations utiles..." %>
            <%= f.submit "Réserver", class: "btn reserv-btn" %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
